.bob-wrap{
  display: flex;
  justify-content: center;

}
.bob-con {
  display: flex;
  flex-wrap: wrap;
  padding: 15px;

}
.bob-pic {
  height: 375px;

  background-color: #DBD3C9;
}
.bob-text {
  padding: 15px;
  background-color: #546A76;
  color: white;
  width: 400px;
}
@media only screen and (max-width: 400px) {
  .bob-pic {
    width: 400px;
  }
}
